<!-- app/templates/home/dashboard.html -->

{% extends "base_app.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 style="text-align:center;">The Dashboard</h1>
                    <h3 style="text-align:center;">We made it here!</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}