<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Project Dream Team</title>
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="{{ url_for('static', filename='css/style_old.css') }}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-custom.css') }}">
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-custom fixed-top">
        <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('home.homepage') }}">PM25 Hours</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('admin.list_departments') }}">Departments</a></li>
                        <li><a href="{{ url_for('admin.list_roles') }}">Roles</a></li>
                        <li><a href="{{ url_for('admin.list_employees') }}">Employees</a></li>
                    {% else %}
                        <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li><a><i class="fa fa-user"></i>  Hi, {{ current_user.first_name }} {{ current_user.last_name }}!</a></li>
                {% else %}
                    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-custom fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Custom</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
                <i class="fa fa-bars fa-lg py-1 text-white"></i>
            </button>
            <div class="navbar-collapse collapse" id="navbarCustom">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {% if current_user.is_admin %}
                            <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('admin.list_departments') }}">Departments</a></li>
                            <li><a href="{{ url_for('admin.list_roles') }}">Roles</a></li>
                            <li><a href="{{ url_for('admin.list_employees') }}">Employees</a></li>
                        {% else %}
                            <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        <li><a><i class="fa fa-user"></i>  Hi, {{ current_user.first_name }} {{ current_user.last_name }}!</a></li>
                    {% else %}
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        {% block body %}
        {% endblock %}
        <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                            <li class="footer-menu-divider">⋅</li>
                            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                    <p class="copyright text-muted small">Copyright © 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
